@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">GRUPO 9</h1>
        <h2>Liliana Chora ,  Dayana Llumiquinga </h2>
    </section>
</main>